.footer {
    backdrop-filter: blur(5px);
    z-index: 100;
    width: 100%;
    bottom: 0;
    height: max-content;
    background-color: $primary-color;
  
    .container-fluid {
      display: flex;
      justify-content: flex-end;
      text-decoration: none;
      color: inherit;
      cursor: pointer;
      display: inline-block;
  
      .navbar-toggler {
        border: none;
        background-color: transparent;
      }
  
      .icon {
        font-size: 1.5em;
      }
  
      .nav-link {
        transition: color 0.3s;
  
        &:hover {
          color: #090909 !important;
          font-weight: bold;
        }
  
        &:active {
          color: #111111;
        }
      }
  
      .nav-item.active .nav-link {
        font-weight: bold !important;
        color: #0b0b0b !important;
      }
  
      // Estilos para el formulario
      form {
        display: flex;
        flex-direction: column;
        width: 80vh;
        margin: 20px;
        padding: 20px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 8px;
        transition: transform 0.3s;
  
        &:hover {
          transform: translateY(-5px);
        }
  
        label {
          margin-bottom: 8px;
          font-weight: bold;
        }
  
        input,
        textarea {
          padding: 8px;
          margin-bottom: 16px;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
        }
  
        button {
          background-color: #64c067;
          color: #fff;
          padding: 10px;
          border: none;
          border-radius: 4px;
          cursor: pointer;
          transition: background-color 0.3s;
  
          &:hover {
            background-color: #37883b;
          }
        }
  
        #remover {
          background-color: #e57373;
          color: #fff;
          padding: 10px;
          border: none;
          border-radius: 4px;
          cursor: pointer;
          transition: background-color 0.3s;
  
          &:hover {
            background-color: #d32f2f;
          }
        }
  
        .mensaje {
          margin-top: 10px;
          padding: 10px;
          border-radius: 4px;
          color: #fff;
          font-weight: bold;
  
          &.exito {
            background-color: #4caf50;
          }
  
          &.error {
            background-color: #f44336;
          }
        }
      }
    }
  }

// Variables de colores
$primary-color: rgba(160, 205, 92, 0.712);
$text-color: #3d3d3d;
$hover-color: #4caf50;
$active-color: #1b5e20;
$visited-color: #00695c;
$background-color: #f0f0f0;

// Estilos del footer
.footer {
  background-color: $primary-color;
  padding: 20px 0;

  .container-fluid {
    display: flex;
    justify-content: center; 
    align-items: center; 

    .navbar-nav {
      display: flex;
      align-items: center;

      .nav-item {
        .nav-link {
          font-size: 24px;
          color: $text-color;
          margin: 0 10px;

          &:hover {
            color: $hover-color;
          }

          &:last-child { 
            margin-right: 0; 
          }
        }
      }
    }
  }
}